:root {
  --hero-tittle-color: #ffffff;
  --about-title-coior: #212121;
  --main-text-color: #000000;
  --second-text-color: #757575;
  --main-tittle-color: #212121;
  --name-text-color: #212121;
  --main-button-color: #ffffff;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --hader-address-color: #757575;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --address-color: #ffffff;
  /* -----------------PORTFOLIO------------------------ */
  --portfolio-button: #212121;
  --accent-portfolio-button-color: #ffffff;
  --price-titile-color: #212121;
  --price-after-titile-color: #757575;
  --price-button-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*---------------------HEADER-------------------------*/
.header-logo-left {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.header-logo-right {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--header-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-list .header-link.current {
  color: var(--accent-color);
}
.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  color: var(--hader-address-color);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}
/*---------------------HERO-------------------------*/
.hero-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);

  color: var(--main-button-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-tittle-color);
}
.hero {
  background-color: #2f303a;
}
/*---------------------ABOUT-------------------------*/
.footer-logo-left {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.footer-logo-right {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.about-titil {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--about-title-coior);
}
.about-after-titil {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
/*---------------------PRICES-------------------------*/
.prices-titil {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-tittle-color);
}
/*---------------------COMMANDS-------------------------*/
.command-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-tittle-color);
}
.command-item-titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--name-text-color);
}
.command-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
/*---------------------footer-------------------------*/
.footer-contacts-address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--address-color);
}
.footer {
  background-color: #2f303a;
}
.contacts-item-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-address-color);
}
.contacts-item-addres:focus,
.contacts-item-addres:hover {
  color: var(--accent-color);
}
/* -----------------PORTFOLIO------------------------ */
.main-button-titel {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--portfolio-button);
}
.main-button-titel:focus,
.main-button-titel:hover {
  color: var(--accent-portfolio-button-color);
}
.cursor-button {
  cursor: pointer;
}
/* -----------------price------------------------ */
.price-titil {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--price-titile-color);
}
.price-after-titil {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--price-after-titile-color);
}
